<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <p>The delete user and user index api routes are restricted to users with the 'admin' role.</p>
  <ul class="list-group">
    <li class="list-group-item" ng-repeat="user in users">
        <strong>{{user.name}}</strong><br>
        <span class="text-muted">{{user.email}}</span>
        <a ng-click="delete(user)" class="trash"><span class="glyphicon glyphicon-trash pull-right"></span></a>
    </li>
  </ul>
</div>
<div class="spacer20"></div>
<div class="container">
    <div class="row well">
        <div class="header-transactions col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">Client Name</div>    
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">Contact Number</div>   
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">Service</div>   
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">Status</div> 
             <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">Notes</div>  
        </div>    
    </div>    
</div>    

<div class="container">
    <div class="row well">
        <div class="header-transactions translist col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-repeat="transaction in transactions">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">{{transaction.name}}</div>    
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">{{transaction.contactNo}}</div>   
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">{{transaction.serviceName}}</div>   
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">{{transaction.Status}} <button ng-click="editstatus(transaction.trackid,transaction._id)">Edit</button></div>  
           <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">{{transaction.trackid}}</div>  
           
        </div>    
    </div>    
    <div class="" >
         <br>
    </div>
</div>