<!-- modal for service request -->
<div class="modal-header">
    <h3 class="modal-title">Request Service for <span>{{serviceName}}</span></h3>
        </div>
		
<!----------------------------------------------------------------------->
	<div class="modal-body well">
<div class="">
      <form class="form" name="form" ng-submit="createRequest(form)" novalidate>

        <div class="form-group" ng-class="{ 'has-success': form.clientName.$valid && submitted,
                                            'has-error': form.clientName.$invalid && submitted }">
          <label>Add Name</label>

          <input type="text" name="clientName" class="form-control" ng-model="clientName"
                 required/>
          <p class="help-block" ng-show="form.clientName.$error.required && submitted">
            A Name name is required
          </p>
        </div>
		
		 <div class="form-group" ng-class="{ 'has-success': form.email.$valid && submitted,
                                            'has-error': form.email.$invalid && submitted }">
          <label>Email</label>

          <input type="text" name="email" class="form-control" ng-model="email"
                 required/>
          <p class="help-block" ng-show="form.email.$error.required && submitted">
            A Email is required
          </p>
        </div>
		
		 <div class="form-group" ng-class="{ 'has-success': form.contactNumber.$valid && submitted,
                                            'has-error': form.contactNumber.$invalid && submitted }">
          <label>contactNumber</label>

          <input type="text" name="contactNumber" class="form-control" ng-model="contactNumber"
                 required/>
          <p class="help-block" ng-show="form.contactNumber.$error.required && submitted">
            A contactNumber is required
          </p>
        </div>
		
		<div class="form-group" ng-class="{ 'has-success': form.location.$valid && submitted,
                                            'has-error': form.location.$invalid && submitted }">
          <label>location</label>

          <input type="text" name="location" class="form-control" ng-model="location"
                 required/>
          <p class="help-block" ng-show="form.location.$error.required && submitted">
            A location is required
          </p>
        </div>
		       

			   <div class="form-group" ng-class="{ 'has-success': form.notes.$valid && submitted,
                                            'has-error': form.notes.$invalid && submitted }">
          

           <span class="input-group-addon titleinput" >Note</span>
      <textarea class="form-control" rows='7' placeholder="Add Your Concerns" ng-model="notes"> </textarea>
          <p class="help-block" ng-show="form.notes.$error.required && submitted">
            A location is required
          </p>
        </div>
			   
        <div>
         
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary" >OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
        </div>

    
      </form>
  
   </div>
</div>	
	<!---


<form class="form" name="form" ng-submit="createRequest(form)" novalidate>
		<div class="modal-body well">
            
    <div class="spacer15"></div>
	
	<div class="form-group" ng-class="{ 'has-success': form.clientName.$valid && submitted,
                                            'has-error': form.clientName.$invalid && submitted }">
      <span class="input-group-addon titleinput" >Full Name</span>
      <input type="text" class="form-control" placeholder="What is your name?" ng-model="clientName" name="clientName" required>
     <p class="help-block" ng-show="form.clientName.$error.required && submitted">
            A Name name is required
          </p>
	
	</div>
	
	 
    
     <div class="spacer15"></div>
    <div class="input-group ">
      <span class="input-group-addon titleinput" >Email</span>
      <input type="email" class="form-control" placeholder="Email Address?" ng-model="email" required>
    </div>
     
     <div class="spacer15"></div>
    <div class="input-group ">
      <span class="input-group-addon titleinput" >Contact number</span>
      <input type="tel" class="form-control" placeholder="Mobile Number or Landline Number" ng-model="contactNumber" required>
    </div>
    
    <div class="spacer15"></div>   
    <div class="input-group ">
      <span class="input-group-addon titleinput" >Address</span>
      <input type="text" class="form-control" placeholder="Your Location Pls?" ng-model="location">
    </div>    
    
    <div class="spacer15"></div>   
    <div class="input-group ">
      <span class="input-group-addon titleinput" >Note</span>
      <textarea class="form-control" rows='10' placeholder="Add Your Concerns" ng-model="notes"> </textarea>
    </div>  
	
        </div>
   
    <div class="modal-footer">
            <button type="submit" class="btn btn-primary" >OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
		</form> 
		
		-->