<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Services Offered</h1>
      <ul class="well nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="service in Services" >
        <li class="" style="<!-- background-image:url(/assets/uploads/{{service.imagepath}}); -->
background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 34%; height:208px;  max-height:208; overflow:hidden; ">
            <a href="#" tooltip="{{service.info}}" class="servtitle">{{service.name}}
            <button ng-show="isAdmin()" ng-class="{active: isActive('/admin')}" type="button" class="close" ng-click="deleteService(service)">&times;</button></a>
            <div class="rate hide">Rate Daily:{{service.rateDaily}}</div>
            <div class="jd col-lg-12 col-md-12"><img class="pull-right" src="/assets/images/uploads/{{service.imagepath}}" width='70' height='70'>{{service.jd}} </div>
            <button class="btn btn-primary col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-click="open(service.name)">Request {{service.name}} service</button>
			<br>
			
        </li>
      </ul>
       <div class="spacer15"></div>
    </div>
  </div>


  <form class="form Services-form" name="form" ng-submit="addServices(form)"  novalidate > <!--ng-show="isAdmin()"  ng-submit="addServices(form)" --> 
    <label>Syncs in realtime across clients</label>
    <div class="spacer15"></div>
    <div class="input-group ">
      <span class="input-group-addon" id="basic-addon1">Service Name</span>
      <input type="text" class="form-control" placeholder="Add a new Service here." ng-model="newServices" required>
    </div>
	
  <div class="spacer15"></div>
 <div class="input-group ">
  <span class="input-group-addon" id="basic-addon1">Rate Per Day</span>
  <input type="text" class="form-control" ng-model="rateDaily" placeholder="Rate Per Day" aria-describedby="basic-addon1">
</div>
  
  <div class="spacer15"></div>
 <div class="input-group ">
  <span class="input-group-addon" id="basic-addon1">Add Description</span>
  <textarea type="text" ng-model="jd" class="form-control" rows="8" placeholder="Job Description" aria-describedby="basic-addon1"></textarea>
</div>

<div class="spacer15"></div>
<div class="input-group">
<input type="file" name="file" onchange="angular.element(this).scope().uploadFile(this.files)"/>
<div id="myprev"><img src='/assets/images/uploads/{{uploadedImg}}'/></div>
</div> 
 
     <div class="spacer15"></div>
    <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" >Add New</button>
      </span>
  
  
  
  </form>
  

     <!--<form name="serv" ng-show="isAdmin()" class="Services-form">
    <label>Syncs in realtime across clients</label>
    <div class="spacer15"></div>
    <div class="input-group ">
      <span class="input-group-addon" id="basic-addon1">Service Name</span>
      <input type="text" class="form-control" placeholder="Add a new Service here." ng-model="newServices" required>
    </div>
  <div class="spacer15"></div>
 <div class="input-group ">
  <span class="input-group-addon" id="basic-addon1">Rate Per Day</span>
  <input type="text" class="form-control" ng-model="rateDaily" placeholder="Rate Per Day" aria-describedby="basic-addon1">
</div>
  
  <div class="spacer15"></div>
 <div class="input-group ">
  <span class="input-group-addon" id="basic-addon1">Add Description</span>
  <textarea type="text" ng-model="jd" class="form-control" rows="8" placeholder="Job Description" aria-describedby="basic-addon1"></textarea>
</div>

    
     <div class="spacer15"></div>
    <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="addServices()">Add New</button>
      </span>
    
  </form> -->
</div>   




    

    
