.titleinput{
    min-width:130px;
}

.servtitle{
background-color:#fff;
color:#666666;
font-weight:900;
}

.jd{
background: rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0.8);
  color: #6F6969;
  height: 100px;
  overflow: hidden;
	}