.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
background-image:url(/assets/images/myimage.jpg);
    background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 20%;
  height:600px;
 

}

.bannerblock{
margin-top:150px;
min-width:200px;
padding:20px;
background: rgb(226, 161, 20,); /* Fall-back for browsers that don't
                                    support rgba */
    background: rgba(226, 161, 20, 1);
color:#fff;

border-radius: 25px 0  ;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

.centerme{
margin:0 auto;
}

.serveimgpayment{

margin:0 auto;
background-image:url(/assets/images/payment-bills.jpg);
background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 34%;

}

.serveimgpadala{
margin:0 auto;
background-image:url(/assets/images/perapadala.jpg);
background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 34%;
}

.serveimgload{
margin:0 auto;
background-image:url(/assets/images/loading.jpg);
background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 34%;
}

.servname{
padding:20px;
}

.servcont{


}

.servlabel{
background-color:#fff;
color:#666666;
padding:10px;
display:block;
font-weight:800;
min-width:100px;
border-radius: 5px 5px 0 0 ;

}

.mybtnavail{
border-radius: 0 0 5px 5px ;
}


