<div ng-include="'components/navbar/navbar.html'"></div>
<header class="hero-unit" id="banner">
  <div class="container">
  <div class="row col-md-12 col-lg-12 col-sm-12 col-xs-12">
  <div class=" bannerblock col-md-4 col-lg-4">
  <h2>Make Your Life Easier</h2>
    <!--<h1>'Pakiito!</h1>
    <p class="lead">Make your life easy and worry free with Pakiito Services</p>
    <img src="assets/images/yeoman.png" alt="I'm Yeoman"> -->
  </div>
  </div>
  <div class="row servicemain">
  <div class="row">
    <div class="col-lg-12 ">
      <h4 class="page-header2">Services:</h4>
	  <div class="lagayan col-md-4 col-lg-4 col-sm-4 col-xs-12 " ng-repeat="service in Services | limitTo:3" >
	  
	  <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" style="<!--background-image:url(/assets/uploads/{{service.imagepath}}); --> overflow:hidden; ">
		<div class="servcont " tooltip="">
		<div class="servlabel">
		{{service.name}}
		</div>
		</div>
		<div class="col-md-12 col-lg-12 col-sm-12 hidden-xs" style="background-image:url(/public/assets/images/uploads/{{service.imagepath}}); background-size: cover; background-repeat: no-repeat; background-position: 50% 34%; height:250px; max-height:250px;" ></div>
		  <button class="mybtnavail col-md-12 col-lg-12 col-sm-12 col-xs-12 btn btn-primary" ng-click="open(service.name)">Avail Now</button>
	  </div>
	  
	  
     <!-- <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-12 col-sm-12" ng-repeat="thing in awesomeThings">
        <li><a href="#" tooltip="{{thing.info}}">{{thing.name}}<button ng-show="isAdmin()" type="button" class="close" ng-click="deleteThing(thing)">&times;</button></a></li>
      </ul> -->
    </div>
	</div>
  </div>

 
</div>
</header>

 <div class="spacer100"></div>
<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
<span class=""><h1 class="textcenter">What We Do</h1></span>

</div>
<div class="textcenter container">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ac tincidunt massa. Morbi sed lorem lorem. Sed a est tortor. Suspendisse sed nibh a metus malesuada dignissim sed et purus. Quisque varius nulla eget blandit dignissim. Duis faucibus est ultricies dictum viverra. Vivamus sem dui, scelerisque at mollis sit amet, suscipit id nibh. Quisque accumsan maximus massa, eget molestie erat mattis sit amet. Etiam non justo quis velit aliquet suscipit at id ante. Mauris euismod non elit ut molestie. Pellentesque id ornare turpis, quis iaculis velit. In ornare, dui vel ultrices efficitur, est quam fringilla erat, vel dictum lorem enim sed urna. Aliquam erat volutpat.

Donec ut tempor mi. Etiam quis blandit tellus, ac venenatis sapien. Praesent molestie congue dolor, blandit blandit turpis placerat at. Vestibulum rhoncus rutrum vulputate. Pellentesque scelerisque rhoncus posuere. Quisque vitae massa vitae enim aliquam egestas. Sed ultrices purus risus, ut malesuada justo sodales consequat. Donec magna quam, pulvinar eget rutrum tincidunt, tincidunt a quam. Phasellus in mattis sem. Sed ullamcorper neque neque, id accumsan sapien congue quis. Vestibulum efficitur fringilla urna, imperdiet posuere arcu imperdiet id.
</div>
<footer class="footer">
  <div class="container">
      <p>Pakiito app version 0.0.1 |
        <a href="http://www.2819-media.com">@2819-media Web consultant</a> | &copy; 2015
         </p>
  </div>
</footer>
