<!-- modal for edit data-->
<div class="modal-header">
    <h3 class="modal-title">Change Status</h3>
        </div>
        <div class="modal-body">
            
    <div class="spacer15"></div>
    <div class="input-group ">
      <span class="input-group-addon titleinput" >Status</span>
      <input type="text" class="form-control" placeholder="Status?" ng-model="tranStatus">
    </div>
  <!--  
     <div class="spacer15"></div>
    <div class="input-group ">
      <span class="input-group-addon titleinput" >Email</span>
      <input type="text" class="form-control" placeholder="Email Address?" ng-model="email">
    </div>
     
     <div class="spacer15"></div>
    <div class="input-group ">
      <span class="input-group-addon titleinput" >Contact number</span>
      <input type="text" class="form-control" placeholder="Mobile Number or Landline Number" ng-model="contactNumber">
    </div>
    
    <div class="spacer15"></div>   
    <div class="input-group ">
      <span class="input-group-addon titleinput" >Address</span>
      <input type="text" class="form-control" placeholder="Your Location Pls?" ng-model="location">
    </div>    
    
    <div class="spacer15"></div>   
    <div class="input-group ">
      <span class="input-group-addon titleinput" >Note</span>
      <textarea class="form-control" rows='10' placeholder="Add Your Concerns" ng-model="notes"> </textarea>
    </div>   -->
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>