<div ng-include="'components/navbar/navbar.html'"></div>
<div class="well">
<div class="spacer15"></div>
    <div class="input-group ">
      <span class="input-group-addon titleinput" >Transaction ID</span>
      <input type="text" class="form-control" placeholder="enter transaction id" ng-model="transid">
    </div>
    
<div class="spacer15"></div>
 <button class="btn btn-primary pull-right" ng-click="Status()">Track </button>
 <div class="spacer15"></div>
 <div ><h1>{{resultstat[0].Status}}</h1></div>
</div>